<div class="container b-register">
  <ul class="errors">
  {{#if errors}}
      {{#each errors}}
      <li>{{msg}}</li>
  {{/each}}
  </ul>
      <form action="/home/register" method="post" id="registerform">
      <h2>Register</h2>
      <input type="text" name="username" value="{{form.username}}" placeholder="Username*" >
      <input type="text" name="firstname" value="{{form.firstname}}" placeholder="Firstname*" >
      <input type="text" name="lastname" value="{{form.lastname}}" placeholder="Lastname*" >
      <input type="email" name="email" value="{{form.email}}" placeholder="Email*" >
      <input type="password" name="password" placeholder="Password*">
      <input type="password" name="password2" placeholder="Confirm Password*">
      <button type="submit" id="submit">Submit</button>
  <a href="#">Already Have An Account?</a>
    </form>
</div>
        {{else}}
        <div class="container b-register">
          <form action="/home/register" method="post" id="registerform">
                    <h2>Register</h2>
  <input type="text" name="username" placeholder="Username*">
  <input type="text" name="firstname" placeholder="Firstname*">
  <input type="text" name="lastname" placeholder="Lastname*">
  <input type="email" name="email" placeholder="Email*">
  <input type="password" name="password" placeholder="Password*">
  <input type="password" name="password2" placeholder="Confirm Password*">
  <button type="submit" id="submit">Submit</button>
  <a href="#">Already Have An Account?</a>
</form>
  </div>
    {{/if}}
