<div class="container b-requests">
    <div class="requests-article-wrapper">
  {{#if success}}
    <div class="b-success" id="success">
    <h3>{{success}}</h3>
  </div>
  {{/if}}
        {{#if articles}}
        {{#each articles}}
      <div class="box">
          <div class="info">
              <h4><a  href="/admin/requested/article/{{id}}">{{title}}</a> </h4>
              <small>Created By: {{createdBy}}
              </small>
          </div>
          <div class="settings">
              <a href="/admin/requested/article/{{id}}">View</a>
              <a class="delete-article" data-id={{id}}>Decline</a>
          </div>
      </div>
      {{/each}}
        {{else}}
        <h1>No article requests were found</h1>
      {{/if}}
    </div>
</div>