<div class="container panel">
  {{#if success}}
  <h1>{{success}}</h1>
  {{/if}}
  <div class="req-wrapper">
  <div class="post-box">
    {{#if notpublishcount}}
    <small>Your Latest Request:</small>
    <h4><a href="/user/article/{{notpublishresult._id}}">{{notpublishresult.title}}</a></h4>
    {{else}}
    <h4>No Request</h4>
    {{/if}}
  </div>
    {{#if notpublishcount}}
    <a href="#">See more ...</a>
    {{/if}}
  </div>
  <div class="publish-wrapper">
    <div class="post-box">
    {{#if publishedcount}}
    <small>Published:</small>
    <h4><a href="/home/article/{{published._id}}">{{published.title}}</a></h4>
    {{else}}
    <h4>No Request</h4>
    {{/if}}
  </div>
     {{#if publishedcount}}
    <a href="#">See more ...</a>
    {{/if}}
  </div>
</div>