  {{#if error}}
  <div class="b-warning" id="warning">
    <h3>{{error}}</h3>
  </div>
  {{/if}}
<div class="container panel">
  <div class="options">
    <small>Create <i class="fa fa-angle-down"></i></small>
      <div class="items">
    <a href="/user/create/article">Article</a>
    {{#if user.admin}}
    <a href="/user/create/events">Event</a>
    {{/if}}
  </div>
  </div>
  <div class="req-wrapper">
  <div class="post-box">
    {{#if notpublishcount}}
    <small>Your Latest Request:</small>
    <h4><a href="/user/article/{{notpublishresult._id}}">{{notpublishresult.title}}</a></h4>
    {{else}}
    <h4>No Request</h4>
    {{/if}}
  </div>
    {{#if notpublishcount}}
    <a href="/user/articles">See more ...</a>
    {{/if}}
  </div>
  <div class="publish-wrapper">
    <div class="post-box">
    {{#if publishedcount}}
    <small>Published:</small>
    <h4><a href="/home/article/{{published._id}}">{{published.title}}</a></h4>
    {{else}}
    <h4>No Publish Article Yet</h4>
    {{/if}}
  </div>
     {{#if publishedcount}}
    <a href="/user/articles/published">See more ...</a>
    {{/if}}
  </div>
</div>