<div class="b-body container-fluid">
    <div class="row home-row">
        <div class="col-lg-9">
        {{#if articles}}
            {{#each articles}}
            <article class="box">
                <img src="{{src}}">
                <div class="link-side">
                    <a href="/home/article/{{_id}}">{{title}}</a>
                </div>
            </article>
            {{/each}}
            <a href="/home/articles" class="see-more-link">See More</a>
            {{else}}
            <article class="box">
                <img src="/img/500x500.png" alt="">
                <div class="link-side">
                    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa</a>
                </div>
            </article>
                        <article class="box">
                <img src="/img/500x500.png" alt="">
                <div class="link-side">
                    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa</a>
                </div>
            </article>
                        <article class="box">
                <img src="/img/500x500.png" alt="">
                <div class="link-side">
                    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa</a>
                </div>
            </article>
                        <article class="box">
                <img src="/img/500x500.png" alt="">
                <div class="link-side">
                    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa</a>
                </div>
            </article>
                        <article class="box">
                <img src="/img/500x500.png" alt="">
                <div class="link-side">
                    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa</a>
                </div>
            </article>
                        <article class="box">
                <img src="/img/500x500.png" alt="">
                <div class="link-side">
                    <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa</a>
                </div>
            </article>
            <a href="#" class="see-more-link">See More</a>
        {{/if}}
        <div class="b-sub-sections">
            <div class="icon-body">
                <i class="fa fa-rocket"></i>
                <p>You have landed on the BAA RAG Web pages. The site content has been totally rewritten with additional new content added on a regular basis.We would welcome details of projects that you are working on or any observations that you have made.</p>
            </div>
            <div class="icon-body">
                <i class="fa fa-info-circle"></i>
                <p>The UK Radio Astronomy Association (UKRAA) was set up in 2008 with the support of the Radio Astronomy Group of the British Astronomical Association to handle the development and sale of radio astronomy equipment developed by the BAA RAG. </p>
            </div>
            <div class="icon-body">
                <i class="fa fa-comment"></i>
                <p>We always appreciate feedback on the work of the Group and suggestions as to what should be included on this site.</p>
            </div>

        </div>
        </div>
        <div class="col-lg-3">
            <div class="events-wrapper">
                <h2>Radio Astronomy Talks</h2>
                {{#if event2018}}
                <div class="events">
                    <div class="year 2018">
                        <h3>2018</h3>
                    </div>
                    {{#each event2018}}
                    <div class="event-wrapper">
                        <div class="box-date">
                            <div class="month">
                                <h4>{{subdate.month}}</h4>
                            </div>
                            <div class="date">
                                <h2>{{subdate.date}}</h2>
                            </div>
                        </div>
                        <div class="info">
                        <h4>{{place}} <i class="fa fa-map-marker"></i></h4>
                        <small>{{subdate.day}}</small>
                        <p>{{description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
                {{#if event2019}}
                <div class="events">
                    <div class="year 2019">
                        <h3>2019</h3>
                    </div>
                    {{#each event2019}}
                    <div class="event-wrapper">
                        <div class="box-date">
                            <div class="month">
                                <h4>{{subdate.month}}</h4>
                            </div>
                            <div class="date">
                                <h2>{{subdate.date}}</h2>
                            </div>
                        </div>
                        <div class="info">
                        <h4>{{place}} <i class="fa fa-map-marker"></i></h4>
                        <small>{{subdate.day}}</small>
                        <p>{{description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            {{#if event2020}}
                <div class="events">
                    <div class="year 2020">
                        <h3>2020</h3>
                    </div>
                    {{#each event2020}}
                    <div class="event-wrapper">
                        <div class="box-date">
                            <div class="month">
                                <h4>{{subdate.month}}</h4>
                            </div>
                            <div class="date">
                                <h2>{{subdate.date}}</h2>
                            </div>
                        </div>
                        <div class="info">
                        <h4>{{place}} <i class="fa fa-map-marker"></i></h4>
                        <small>{{subdate.day}}</small>
                        <p>{{description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>